html, body{
    min-height: 100vh;
}

body{
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

#game{
    background-color: blue;
    height: 500px;
    width: 500px;
}

.element{
    background-color: green;
    height: 50px;
    width: 50px;
    margin: 10px;
}